<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Angular Fire -->
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-app="starter">
      <ion-header-bar class="bar-stable">
           <h1 class="title">My Chat App</h1>
       </ion-header-bar>
       <ion-content scroll="false" ng-controller="AppController">
           <div class="row row-bottom">
               <div class="col">
                   <div class="chatbox-container">
                       <ul id="chatbox">
                          <!-- Messages -->
                          <li>---------------------------</li>
                          <li>Welcome to chat app</li>
                          <li>---------------------------</li>
                          <li>&nbsp;</li>
                          <li ng-if="userName.length">Hello {{ userName }}!</li>
                          <li ng-if="userName.length">&nbsp;</li>
                          <li ng-repeat="message in messages">
                                {{ message.user }}: {{ message.content }}
                          </li>
                          <li ng-if="isRetrieving">Retrieving messages...</li>
                       </ul>
                   </div>
                   <form name="myform" ng-submit="addMessage(form.input)">
                       <label class="item item-input message-input">
                           <!-- the input text field is bound to message.theMessage -->
                           <input ng-if="userName.length" type="text" ng-model="form.input" placeholder="Type your message..."/>
                           <input ng-if="!userName.length" type="text" ng-model="form.input" placeholder="Enter your name"/>
                       </label>
                       <button class="button button-block button-dark" type="submit">
                           Send
                       </button>
                   </form>
               </div>
           </div>
       </ion-content>
  </body>
</html>
